* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: url('./Gatinhos-fofos/patinhazinha.png'), auto;
}

html, body {
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: stretch; 
}

header, main, footer {
  flex-shrink: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.whats {
  height: 50px;
  width: 50px;
}

img {
  border-radius: 10%;
  height: 150px;
  width: 150px;
  margin: 2px;
}

li {
  list-style: none;
}

.section-text {

}

.section-galeria {
  width: 350px;
}

#galeria {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly
}

footer {
  display: flex;
  justify-content: center;
}
