:root {
  --cotton-candy: rgba(253, 197, 245, 1);
  --cotton-candy2: rgb(253, 197, 245, 0.1);
  --cotton-candy3: rgb(253, 197, 245, 0.4);
  --plum-web: rgba(247, 174, 248, 1);
  --plum-web2: rgb(247, 174, 248, 0.4);
  --lavender-floral: rgba(179, 136, 235, 1);
  --cornflower-blue: rgba(128, 147, 241, 1);
  --sky-blue-crayola: rgba(114, 221, 247, 1); 
} 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: url('./Gatinhos-fofos/patinhazinha.png'), auto;
}

h1, h2 {
  color: var(--cornflower-blue);
  font-weight: 400;
  text-shadow: 1px 1px 2px var(--lavender-floral);
}

h1 {
  font-family: Akaya Telivigala, cursive;
  font-size: 45px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
  180deg,
  hsl(299deg 87% 79%) 0%,
  hsl(299deg 87% 79%) 0%,
  hsl(299deg 87% 80%) 0%,
  hsl(299deg 86% 80%) 0%,
  hsl(299deg 86% 81%) 0%,
  hsl(299deg 85% 81%) 1%,
  hsl(299deg 85% 82%) 1%,
  hsl(299deg 84% 82%) 2%,
  hsl(300deg 83% 83%) 3%,
  hsl(301deg 83% 84%) 4%,
  hsl(302deg 84% 85%) 6%,
  hsl(303deg 85% 86%) 7%,
  hsl(304deg 85% 88%) 9%,
  hsl(305deg 85% 89%) 11%,
  hsl(306deg 84% 90%) 14%,
  hsl(308deg 83% 91%) 17%,
  hsl(308deg 83% 91%) 20%,
  hsl(308deg 83% 92%) 24%,
  hsl(308deg 84% 93%) 28%,
  hsl(308deg 85% 94%) 34%,
  hsl(307deg 85% 94%) 40%,
  hsl(307deg 86% 95%) 48%,
  hsl(307deg 88% 96%) 59%,
  hsl(307deg 89% 96%) 79%);
}

#container {
  display: flex;
  min-height: 80%;
  flex-direction: column;
  align-items: stretch; 
}

header, main, footer {
  flex-shrink: 0;
}

header {
  display: flex;
  min-height: 10%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--plum-web2);
  margin-top: 0;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.whats {
  height: 60px;
  width: 60px;
  margin-right: 50px;
}

img {
  border-radius: 10%;
  height: 150px;
  width: 150px;
  margin: 2px;
}

li {
  list-style: none;
}

section {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border: 10px double var(--cotton-candy3);
  border-radius: 15px;
  box-shadow: 2px 2px 6px var(--cotton-candy),
    -2px -2px 6px var(--cotton-candy),
    -2px 2px 6px var(--cotton-candy),
    2px -2px 6px var(--cotton-candy);
}

.section-galeria {
  width: 350px;
}

.section-galeria img {
  box-shadow: 2px 2px 4px var(--lavender-floral);
}

.new-cats {
  margin-bottom: 30px;
}

.section-result {
  align-items: center;
  width: 400px;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: space-evenly;
}

.image-container {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  height: 360px;
  width: 360px;
  border: 10px dashed var(--cornflower-blue);
  border-radius: 10%;
}

.textImage {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 30px;
  margin-left: 35px;
  margin-top: 10px;
}

.text-start {
  align-self: flex-start;
}

.text-center {
  align-self: center;
}

.text-end {
  align-self: flex-end;
}

.cat-message {
  position: absolute;
  z-index: 1;
  width: 335px;
  height: 335px;
}

#galeria {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly
}

#save {
 margin: 15px; 
}

button {
  border: 1px solid var(--plum-web);
  background-color: var(--cotton-candy2);
  box-shadow: 1px 1px 5px var(--lavender-floral);
  padding: 5px;
  margin: 1%;
}

button:hover {
  color: white;
  background-color: var(--cotton-candy);
  box-shadow: 1px 1px 5px var(--cornflower-blue);
}

button:active {
  box-shadow: 1px 1px 5px var(--sky-blue-crayola);
}

.ocult {
  display: flex;
  justify-content: center;
  align-self: stretch;
  overflow: hidden;
}

.ocult p {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 15px;
  outline: none;
  padding: 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 5px 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content p:hover {
  background-color: var(--cotton-candy2);
  color: var(--plum-web);
  text-shadow: 1px 1px 1px white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.clean-text {
  align-self: center;
}

#save, .clean {
  padding: 5px 50px;
  border-radius: 15px;
}

.color {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.decoration {
  height: 35px;
  width: 35px;
  background-color: blue;
  margin-right: 5px;
  border-color: rgb(0, 0, 0);
  border-style:double;
  border-bottom-left-radius: 1px;
  border-radius: 50%;
}

.decoration1 {
  height: 35px;
  width: 35px;
  background-color: rgb(173, 37, 173);
  margin-right: 5px;
  border-color: rgb(0, 0, 0);
  border-style:double;
  border-bottom-left-radius: 1px;
  border-radius: 50%;
}

.decoration2 {
  height: 35px;
  width: 35px;
  background-color: rgb(70, 192, 125);
  margin-right: 5px;
  border-color: rgb(0, 0, 0);
  border-style:double;
  border-bottom-left-radius: 1px;
  border-radius: 50%;
}

.decoration3 {
  height: 35px;
  width: 35px;
  background-color: rgb(214, 86, 26);
  margin-right: 5px;
  border-color: rgb(0, 0, 0);
  border-style:double;
  border-bottom-left-radius: 1px;
  border-radius: 50%;
}

.decoration4 {
  height: 35px;
  width: 35px;
  background-color: rgb(251, 255, 32);
  border-color: rgb(0, 0, 0);
  margin-right: 5px;
  border-style:double;
  border-bottom-left-radius: 1px;
  border-radius: 50%;
}

.decoration5 {
  height: 35px;
  width: 35px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  border-style:double;
  border-bottom-left-radius: 1px;
  border-radius: 50%;
}

.fontStyle {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  height: 70px;
  margin-bottom: 10px;
}

.font {
  margin-top: -10px;
  font-size: 45px;
  font-family: Impact,Charcoal,sans-serif;
  margin-right: 10px;
}

.font1 {
  margin-top: -15px;
  font-size: 45px;
  font-family: 'Patrick Hand', cursive;
  margin-right: 10px;
}
  
.font2 {
  margin-top: -10px;
  font-size: 32px;
  font-family: Bad Script, cursive;
  margin-right: 10px;
}
  
.font3 {
  margin-top: -10px;
  font-size: 45px;
  font-family: Sacramento, cursive;
  font-style: oblique;
}
  
.sizeFont {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-evenly;
}
  
.size1 {
  margin-top: -5px;
  font-size: 35px;
}
  
.size2 {
  margin-top: -12px;
  font-size: 45px;
}
  
.size3 {
  margin-top: -17px;
  font-size: 55px;
}
  
.size4 {
  margin-top: -26px;
  font-size: 65px;
}

footer {
  display: flex;
  min-height: 8%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

footer p {
  color: var(--plum-web);
  font-weight: 700;
  text-shadow: 1px 1px 2px var(--cornflower-blue);
}
