* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: url(), auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
}

.whats {
  height: 50px;
  width: 50px;
}

img {
  border-radius: 10%;
  height: 200px;
  width: 200px;
}

li {
  list-style: none;
}

.section-text {

}

main {
  display: flex;
  justify-content: space-evenly;
}
